@media screen and (max-width:576px) {

    .nav-hamber{
        display: block;
        margin-top: 18px;
    }

    .nav-titel{
        display: none;
    }

.banner,
.habit-container,
.habit-image,
.run-content,
.run-para,
.footer-content,
.footer-right{
    flex-direction: column;
}
.banner-container{
    padding-left: 10px;
}

.threefifty{
    margin-left: 40px;
}

.habit-image{
    margin-right: 30px;
}


.run-image img{  
     /* width: 400px;
    height: 300px;
    padding-right: 180px;  */
    

    width: 400px;
    object-fit: none;
    object-position: 65% 27%;
    padding-right: 150px;
}

.team-image,
.team-para{
    grid-template-columns: repeat(1,1fr);
}

.team-para{
    padding-top: 20px;
}

    
}