@media screen and (max-width:576px) {

    .nav-hamber{
        display: block;
        margin-top: 18px;
    }

    .nav-titel{
        display: none;
    }

.banner{
    flex-direction: column;
}

.threefifty{
    margin-left: 30px;
}
    
}